body,
html {
  height: 100%;
  /* background-color: lightgray; */
}

h1 {
  color: navy;
  /* margin-left: 20px; */
}

.main {
  height: 1000px;
  background-color: white;
  font-size: 24px;
  z-index: 1000;
}

#background-text {
  position: fixed;
  width: 800px;
  height: 1200px;
  top: 0;
  left: 40%;
  z-index: -1;
  margin-top: -320px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  font-family: 'Bodoni MT Black', serif;
  font-size: 1400px;
  /* color: orange; */
  /* color: Math.floor(Math.random()*16777215).toString(16); */
}

#header {
  position: absolute;
  /* z-index: 1000; */
  z-index: 1000;
  top: 375px;
  left: 590px;
  color: darkgray;
  /* font-weight: bold; */
  font-family: Garamond, serif;
  font-size: 72px;
}

#subheader {
  position: absolute;
  z-index: 1000;
  top: 400px;
  left: 905px;
  color: darkgray;
  padding: 0 0 0 100px;
  /* font-weight: bold; */
  font-family: OCR A Extended, serif;
  font-size: 48px;
}

.parallax {
  /* The image used */
  /* background-image: url('../assets/c.jpg'); */

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
