body,
html {
  height: 100%;
  /* background-color: lightgray; */
}

h1 {
  color: navy;
  /* margin-left: 20px; */
}

.main {
  height: 1000px;
  background-color: white;
  font-size: 24px;
}

#header {
  position: absolute;
  z-index: 1000;
  top: 375px;
  left: 570px;
  color: gray;
  /* font-weight: bold; */
  font-family: Garamond, serif;
  font-size: 72px;
}

#subheader {
  position: absolute;
  z-index: 1000;
  top: 400px;
  left: 880px;
  color: gray;
  padding: 0 0 0 100px;
  /* font-weight: bold; */
  font-family: OCR A Extended, serif;
  font-size: 48px;
}

.parallax {
  /* The image used */
  background-image: url('../assets/c.jpg');

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
