body,
html {
  height: 100%;
  /* background-color: lightgray; */
}

h1 {
  color: navy;
  /* margin-left: 20px; */
}

.main {
  position: relative;
  text-align: center;
  padding: 50px;
  height: 1000px;
  background-color: white;
  font-size: 24px;
  z-index: 1000;
  font-family: 'Book Antiqua', serif;
  color: slategray;
}

.title {
  text-align: center;
  padding: 0 0 0 50px;
  font-style: bold;
  font-size: 36px;
}

#background-text {
  position: fixed;
  width: 800px;
  height: 1200px;
  top: 0;
  left: 40%;
  z-index: -1;
  text-shadow: 22px 22px 28px slategray;
  margin-top: -320px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  /* font-family: 'Bodoni MT Black', serif; */
  font-family: 'Book Antiqua', serif;
  /* opacity: 0.5; */
  /* font-family: 'Castellar', serif; */
  /* font-family: 'Colona MT', serif; */
  /* font-family: 'Levenim MT', serif; */
  /* font-family: 'Perpetua Tiling MT'; */
  font-size: 1400px;
}

#header {
  position: absolute;
  /* z-index: 1000; */
  z-index: 1000;
  top: 375px;
  /* left: 590px; */
  left: 765px;
  /* text-align: center; */
  color: white;
  /* font-weight: bold; */
  font-family: Garamond, serif;
  font-size: 72px;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}

#subheader {
  position: absolute;
  z-index: 1000;
  top: 495px;
  /* left: 905px; */
  left: 610px;
  color: lightgray;
  padding: 0 0 0 100px;
  /* font-weight: bold; */
  font-family: 'Century Gothic', serif;
  font-size: 28px;
  /* font-style: italic; */
  letter-spacing: 15px;
}

.parallax {
  /* The image used */
  /* background-image: url('../assets/sky-bright.jpg'); */
  background-image: url('../assets/record.jpg');
  /* Set a specific height */
  height: 100%;
  background-size: 2000px 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
